#lose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    bottom: 0%;
    background-color: var(--main-backgroundcolor);
    gap: 20px;
    width: 100%;
    height: 100%
}