/* Boss affichage */
#boss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 0%;
    background: linear-gradient(black, var(--main-colorMap));
    gap: 5px;
    width: 100%;
    height: 100%;
    color: white;
}

#boss h1, #boss h2 {
    flex: 1;
}

#boss h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}


#boss h2 img {
    height: 30px;
    width: 30px;
}

.describeBoss {
    flex: 3;
    display: flex;
    gap: 10px;
    width: 90%;
}

.describeBoss canvas {
    flex: 1;
}

#goBoss {
    width: 90%;
    flex: 1;
    display: inline-block;
    cursor: pointer;
    border-radius: .375rem;
    background-color: var(--main-colorButton);
    margin-bottom: 10px;
    font-family: var(--main-font);
    color: white;
    font-size: 1rem;
}

#goBoss:hover {
    color: var(--main-colorButton);
    background-color: white;
}

/* #boss h1 {
    font-size: 4rem;
}

#boss p {
    font-size: 2rem;
}

#boss>p:nth-child(3) {
    font-size: 1rem;
} */