/* Gere l'affiche des passive quand on choisi */
#passive {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    /*  modifier dans View passive composantPassive */
    height: 50%;

}

/* modal Passive */
#modalPassive {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 80%;
    background-color: white;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 5px; */
    border: 1px solid black;
}

#modalPassive img {
    object-fit: contain;
    height: 50%;
    width: 50%;
}