#campFire {
    position: absolute;
    bottom: 0%;
    /*  update in view */
    height: 100%;
    width: 100%;
    display: flex;

}

#regen, #bonus {
    flex: 1;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

#regen img, #bonus img {
    object-fit: contain;
    height: 50%;
    width: 50%;
}