/* Gere l'affiche des passive quand on choisi */
#passive {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    z-index: 10;
    width: 100%;
    background: linear-gradient(var(--main-colorMap), black);
    /* height calculate js*/
}

.modulePassive {
    display: flex;
    flex: 1;
    gap: 5px;
    border: solid black 3px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modulePassive h2, .modulePassive button, .modulePassive p {
    flex: 1;
}

.modulePassive img {
    flex: 2;
    width: 70%;
    height: 70%;
}


.modulePassive h2, .modulePassive p {
    color: white;
    text-align: center;
    width: 80%;
    height: 80%;
    font-size: 1rem;
}


.modulePassive button {
    width: 90%;
    display: inline-block;
    cursor: pointer;
    border-radius: .375rem;
    background-color: var(--main-colorButton);
    margin-bottom: 10px;
    font-family: var(--main-font);
    color: white;
    font-size: 1rem;
}

.modulePassive button:hover {
    color: var(--main-colorButton);
    background-color: white;
}