nav {
    display: flex;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    gap: 5px;
    width: 100vw;
    background: linear-gradient(black, var(--main-colorMap));
}

.navplay {
    background: linear-gradient(black, var(--main-colorPlay) 70%);
}

/* link dans menu */
.logoMenu {
    flex: 3;
    display: flex;
    gap: 5px;
}

#play {
    padding: 6px
}

#play, #map {
    flex: 1;
}

#play, #map:hover {
    cursor: grab;
}


/* Passive dans menu */
.passiveMenu {
    flex: 7;
    display: flex;
    margin-right: 5px;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}


.passiveMenu img {
    height: 50%;
    width: 10%;
}