* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

#canvasMap {
    z-index: 2;
    position: absolute;
}

#canvasPlay {
    z-index: 1;
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}